@inherits LayoutComponentBase
@inject ViewOptionService ViewOption

    <div class="page">
        <div class="sidebar @ViewOption.NavBarClass">
            <NavMenu />
        </div>

        @*<div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>*@

        <div class="main">
            <div class="top-row px-4">
                <a href="/" @onclick="ViewOption.Hide">Log Out</a>
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>
    @*</div>*@

    @code {

        protected override async Task OnInitializedAsync()
        {
            ViewOption.OnChanged = () =>
            {
                StateHasChanged();//Refresh
        };
        }
    }
